.identity-image {
    width: 40%;
    height: auto;
    object-fit: cover;
}

.identity-title {
    font-size: 1.75rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
