.projects-buttons-grid {
    text-align: center;
}

.project-title {
    font-size: 1.6rem;
}

.project-concepts {
    font-size: 1.4rem;
}

.frontend-button {
    margin: auto 1rem;
}

.submit-button.pr-0 {
    padding-right: 0;
    text-align: left;
}

.project-image {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px white;
}

.fa-ml-1 {
    margin-left: 0.5rem;
}
