.body-background {
    background-color: black;
    color: white;
}

.homepage-banner {
    width: 100%;
    max-width: 1200px;
}

.intro-section-image {
    width: 10rem;
    /* height: 25rem; */
    object-fit: cover;
}

.anchor-lightblue,
.strong-lightblue {
    color: rgb(143, 210, 241);
}

.navlink.navlink-white {
    color: white;
}

.navlink-cursor {
    cursor: pointer;
}

.navlink.navlink-white:hover {
    color: rgb(143, 210, 241);
}

.navlink.navlink-white:active {
    color: white;
}

.intro-h3-height {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .intro-h3-height {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        min-height: 4.25rem;
    }
}