/* General */
body {
    font-size: 12px;
}

.body-background {
    background-color: black;
    color: white;
}

.anchor-lightblue,
.strong-lightblue {
    color: rgb(143, 210, 241);
}

/* Navbar */
#navbarTop {
    position: fixed;
    width: 100%;
}

#navbarTop .navbar-toggler {
    background-color: white;
    height: 30px;
    font-size: 14px;
    width: 50px;
}

.navlink.navlink-white {
    color: white;
}

.navlink-cursor {
    cursor: pointer;
}

.navlink.navlink-white:hover {
    color: rgb(143, 210, 241);
}

.navlink.navlink-white:active {
    color: white;
}

/* Intro Section */
.homepage-banner {
    margin-top: 55px;
    width: 100%;
    max-width: 1350px;
}

.intro-section-image {
    width: 10rem;
    object-fit: cover;
}

.intro-h3-height {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* Projects */
.projects-buttons-grid {
    text-align: center;
}

.frontend-button {
    margin: auto 1rem;
}

.submit-button.pr-0 {
    padding-right: 0;
    text-align: left;
}

/* Viewports */
@media screen and (min-width: 768px) {
    .intro-h3-height {
        min-height: 4.25rem;
    }
}

@media screen and (min-width: 1200px) {
    .intro-h3-height {
        min-height: auto;
    }
}

@media screen and (max-width: 576px) {
    .projects-buttons-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .frontend-button {
        margin: 1rem auto;
    }
}