@import "./styles/main.scss";

.anchor-lightblue,
.strong-lightblue {
    color: $primary-color;
}

h1.text-center {
    font-size: 2.75rem;
}

.h1-title {
    padding-top: 2rem;
}

/* Viewports */

@media screen and (max-width: 576px) {
    .projects-buttons-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .frontend-button {
        margin: 0.5rem auto;
    }
}
